<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.pancakeapple.mapper.emoji.EmojiMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into tb_emoji (name, description, url, author, upload_time)
        values (#{name},#{description},#{url},#{author},#{uploadTime})
    </insert>

    <select id="pageQuery" resultType="org.pancakeapple.vo.emoji.EmojiGeneralVO">
        select te.id,te.name,te.url,te.author,tu.profile_photo from tb_emoji te left outer join tb_user tu on te.author = tu.id
    </select>
</mapper>
