<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.pancakeapple.mapper.emoji.EmojiMapper">
    <select id="pageQuery" resultType="org.pancakeapple.vo.emoji.EmojiGeneralVO">
        select te.id,te.name,te.url,te.create_user,tu.profile_photo
        from tb_emoji te left outer join tb_user tu
        on te.create_user = tu.id
    </select>
    <select id="getTagsById" resultType="java.lang.String">
        select tt.name
        from emoji_tag et left outer join tb_tag tt
        on et.tag_id = tt.id
        where et.emoji_id=#{id}
    </select>
    <select id="getByUserId" resultType="org.pancakeapple.vo.emoji.EmojiGeneralVO">
        select te.id,te.name,te.url,te.create_user,tu.profile_photo
        from tb_emoji te left outer join tb_user tu
        on te.create_user = tu.id
        where create_user=#{userId}
    </select>
    <select id="getSimilar" resultType="org.pancakeapple.vo.emoji.EmojiGeneralVO">
        select te.id,te.name,te.url,te.create_user,tu.profile_photo
        from tb_emoji te left outer join tb_user tu on te.create_user = tu.id
        where te.id in 
        <foreach collection="similarList" item="emojiId" separator="," open="(" close=")">
            #{emojiId}
        </foreach>
    </select>
</mapper>
