<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.pancakeapple.mapper.user.UserMapper">

    <update id="update">
        update tb_user
        <set>
            <if test="email!=null">
                email=#{email},
            </if>
            <if test="username!=null">
                username=#{username},
            </if>
            <if test="gender!=null">
                gender=#{gender},
            </if>
            <if test="profilePhoto!=null">
                profile_photo=#{profilePhoto},
            </if>
            <if test="signature!=null">
                signature=#{signature},
            </if>
        </set>
        where id=#{id}
    </update>
</mapper>