<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.pancakeapple.mapper.interaction.FavoriteMapper">
    <select id="list" resultType="org.pancakeapple.vo.emoji.EmojiGeneralVO">
        select te.id,te.name,te.url,te.create_user,tu.profile_photo
        from tb_favorite tf left outer join tb_emoji te on tf.emoji_id = te.id
        left outer join tb_user tu on te.create_user=tu.id
        where tf.user_id=#{userId}
    </select>
    <select id="getOtherFavoriteList" resultType="org.pancakeapple.vo.emoji.EmojiGeneralVO">
        select te.id,te.name,te.url,te.create_user,tu.profile_photo
        from tb_favorite tf left outer join tb_emoji te on tf.emoji_id = te.id
                            left outer join tb_user tu on te.create_user=tu.id
        where tf.user_id=#{userId}
    </select>
</mapper>